@import 'variables';
@import 'mixins';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: $clr-font;
    position: relative;
    font-family: $fnt-signika;
    /* diameter of the circle */
    --d: 2px; 
    scroll-behavior: smooth;
    margin-bottom: 329.6px;
    @include burgerMenu{
        margin-bottom: 0;
    }
    background: radial-gradient(
    circle at var(--d) var(--d),
    #050E4A,  /* background color */
    #f5f5f5 calc(var(--d) - 1px),  /* dot color */
    #f5f5f5 var(--d) /* dot color continues */
    ) 0 0 / 30px 30px;
    main{
        background: radial-gradient(
        circle at var(--d) var(--d),
        #050E4A,  /* background color */
        #f5f5f5 calc(var(--d) - 1px),  /* dot color */
        #f5f5f5 var(--d) /* dot color continues */
        ) 0 0 / 30px 30px;
    }

    p, li{
        font-size: 18px;
        line-height: 120%;
        font-weight: 400;
    }

    h4{
        font-size: 1.6rem;
        font-weight: 500;
    }
    h3{        
        font-size: 1.8rem;
        font-weight: 500;
    }
    h2{        
        font-size: 3.5rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 3rem;
        @include mobile{
            font-size: 3rem;
        }
    }
    h5{
        font-size: 1.5rem;
        font-weight: 500;
    }

    //Reveal text
    .reveal {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.6s ease, transform 0.6s ease;
        transition-delay: .3s;
    
        &.visible {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .link{
        text-decoration: none;
        @include link($green)
    }

    //Button
    .btn{
        line-height: 120%;
        font-size: 1rem;
        text-decoration: none;
        color: $clr-white;
        // background-color: $clr-font;
        border-radius: 50px;
        padding: 15px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $transition;
        border: 2px solid transparent;
        width: fit-content;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &::before{
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            border-radius: 50px;
            background-image: linear-gradient($clr-font, $clr-font);
            z-index: -1;
            transition: $transition;
        }
        &.btn-share::before{
            background-image: $gradient-share;
        }
        &.btn-learn::before{
            background-image: $gradient-learn;
        }
        &.get-started-btn::before{
            background-image: $gradient-learn;
            // color: $green;
            // border-color: $green;
            // &::before{
            //     background-image: none;
            // }
        }
        &:hover{
            color: $clr-font;
            transform: $transform;
            border-color: $clr-font;
            &.btn-white-outline{
                border-color: $clr-white;
                color: $clr-white;
            }
            &.btn-learn{
                color: $clr-font-green;
                border-color: $clr-font-green;
            }
            &::before{
                transform: translateX(100%);
            }
        }
    }

    .btn-row{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2rem;
        margin-inline: auto;
        width: fit-content;
        margin: 4rem 2rem;
        margin-bottom: 0;
        position: relative;
        z-index: 1;
        @include mobile{
            flex-direction: column;
            gap: 1rem;
        }
    }
    .container{
        padding: 2.5rem 4rem;
        @include burgerMenu{
            padding: 84px 2rem;
        }
    }
    section{
        padding-block: 2.5rem;
        @include burgerMenu{
            padding-block: 84px;
        }
    }
    .my-4{
        margin-block: 4rem;
    }

    //Card
    .card{
        border-radius: 20px;
        overflow: hidden;
        box-shadow: $box-shadow;
        width: fit-content;
        text-align: center;
        background-color: $clr-white;
        max-width: 367px;
        transition: $transition;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        padding: 4rem;
        img{
            width: 367px;
            height: 306px;
            object-fit: cover;
            &.icon{
                width: 50px;
                height: 50px;
                margin-inline: auto;
            }
        }
    }

    .card-row{
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
        .card{
            width: 100%;
        }
        @include mobile{
            flex-direction: column;
            align-items: center;
        }
    }

    //Accordion
    .accordion-container{
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .accordion{
            display: flex;
            flex-direction: column;
            &:hover{
                cursor: pointer;
            }
            .title-container{
                background-image: $gradient-faq;
                border-radius: 20px;
                padding: 2rem;
                h4{
                    color: $clr-white;
                    text-align: center;
                }
            }
            .content-container{
                padding: 3rem 4rem;
                &::before{
                    content: '';
                    position: absolute;
                    top: -2rem;
                    left: 0;
                    right: 0;
                    height: calc(100% + 2rem);
                    background-color: rgba($blue, .1);
                    border-radius: 0 0 20px 20px;
                    z-index: -1;
                }
                p{
                    font-size: 1.3rem;
                    text-align: center;
                }
                opacity: 0;
                top: -4rem;
                z-index: -1;
                position: absolute;
                transition: $transition;
            }
            &.active .content-container{
                position: relative;
                top: 0;
                z-index: 0;
                opacity: 1;
            }
        }
    }

    //Navigation
    nav{
        display: flex;
        // justify-content: space-between;
        gap: 1rem;
        align-items: center;
        // background-color: $clr-white;
        padding-inline: 4rem;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        transition: $transition;
        z-index: 10;
        & > a, & > div{
            flex: 1;
        }
        & > ul{
            flex: 9;
        }
        a{
            text-decoration: none;
            color: inherit;
            white-space: nowrap;
        }
        .logo img{
            width: 12rem;
            height: 9rem;
            transition: $transition;
        }
        .burger-menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 2;
        }
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4rem;
            li{
                list-style: none;
                a{
                    @include link(($clr-font));
                }
            }
        }
        .socials{
            display: flex;
            gap: .7rem;
            a{
                transition: $transition;
                img{
                    width: 1.4rem;
                    height: 1.4rem;
                }
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        &.scrolled{
            background-color: $clr-white;
            // box-shadow: 3px 2px 3px 0 $clr-font;
            .logo img{
                height: 5rem;
                width: 6rem;
                // object-fit: contain;
            }
        }
        .burger-btn{
            display: none;
        }
        @include burgerMenu{
            padding-inline: 2rem;
            .logo{
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    height: 5rem;
                    width: 6rem;
                    // object-fit: contain;
                }
            }
            .burger-menu{
                position: absolute;
                background-color: rgba($clr-white, .6);
                top: 83.5px;
                left: 0;
                right: 0;
                height: calc(100vh - 83.5px);
                flex-direction: column;
                // align-items: flex-start;
                padding-inline: 2.3rem;
                padding-block: 2rem;
                transform: translateY(-200vh);
                transition: $transition;
                overflow-y: scroll;
                ul{
                    flex-direction: column;
                    // align-items: flex-start;
                    gap: 1.5rem;

                }
                &.show-menu{
                    transform: translateY(0);
                }
            }
            .burger-btn{
                display: block;
                border: 0;
                height: fit-content;
                width: fit-content;
                span{
                    width: 20px;
                    height: 2px;
                    background-color: $clr-font;
                    border-radius: 5px;
                    transition: $transition;
                    display: inline-block;
                    position: relative;
                    &::after, &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        height: 100%;
                        background-color: $clr-font;
                        transition: $transition;
                    }
                    &::before{
                        top: -4px;
                    }
                    &::after{
                        bottom: -4px;
                    }
                }
            }
            &.show-menu{
                background-color: $clr-white;
                .burger-menu{
                    transform: translateY(0);
                }
                .burger-btn span{
                    transform: rotate(45deg);
                    &::after{
                        width: 0px;
                    }
                    &::before{
                        transform: rotate(90deg);
                        top: 0;
                    }
                }
            }
        }
    }

    //Hero
    header{
        display: flex;
        align-items: center;
        text-align: center;
        background: radial-gradient(
        circle at var(--d) var(--d),
        #050E4A,  /* background color */
        #f5f5f5 calc(var(--d) - 1px),  /* dot color */
        #f5f5f5 var(--d) /* dot color continues */
        ) 0 0 / 30px 30px;
        & > div{
            flex: 1;
        }
        .hero-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                font-size: 4.5rem;
                font-weight: 600;
                line-height: 120%;
                margin-bottom: 2rem;
                // font-family: $fnt-marker;
                & > span{
                    font-size: 5.5rem;
                    font-weight: 600;
                    display: block;
                    animation: pulse 4s ease infinite alternate;
                    span{
                        // --webkit-text-fill-color: transparent;
                        -webkit-text-fill-color: transparent;
                        // background-image: $gradient-text;
                        background-image: linear-gradient(#E03C32 0%, #007749 100%);
                        background-clip: text;
                        &:last-child{
                            background-image: linear-gradient(#007749 15%, #001389 30%, #FEB81C 100%);
                        }
                    }
                }
                @include desktop() {
                    width: 90%;
                }
            }
            h4{
                @include desktop() {
                    width: 74%;
                }
            }
            .btn-row{
                margin-bottom: 0;
            }
        }
        .hero-image{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                border-radius: 20px;
                height: 400px;
                width: 400px;
                object-fit: cover;
                position: relative;
                // animation: imageAnimation 4s ease-in-out;
                z-index: 1;
                &:last-child{
                    position: absolute;
                    z-index: 0;
                    right: 30px;
                    top: -50px;
                    animation: imageAnimation2 4s ease-in-out;
                }
            }
        }
        @include mobile{
            flex-direction: column;
            padding-inline: 2rem;
            .hero-image img{
                width: 100%;
                &:last-child{
                    display: none;
                }
            }
            .hero-content{
                h1{
                    font-size: 3.5rem;
                }
                .btn-row{
                    margin-bottom: 2.5rem;
                }
            }
        }

    }

    //Slider
    .language-slider {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-block: 2.5rem;
      
        .slider-track {
          display: flex;
          gap: 2rem;
          position: relative;
          animation: scroll 20s linear infinite alternate;
      
          .language {
            flex: 0 0 auto; /* Prevent items from shrinking */
            font-size: 4rem;
            padding: 20px 40px;
            text-align: center;
            color: $clr-font;
            position: relative;
            display: inline-block;
            &::after{
                content: '';
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: $clr-font;
                position: absolute;
                top: 35%;
                right: -10%;
            }
            &.green{
                color: $green;
            }
            &.yellow{
                color: $yellow;
            }
            &.blue{
                color: $blue;
            }
            &.red{
                color: $red;
            }
          }
        }
      }

      //How it works
    #how-it-works{
        position: relative;
        display: flex;
        flex-direction: row;
        .left-side{
            flex: 1;
            position: sticky;
            height: 100vh;
            top: 0;
            left: 0;
            // padding-top: 28vh;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            h2{
                margin-bottom: 0;
            }
            .btn-row{
                margin-top: 1rem;
            }
            p{
                @include desktop(){
                    width: 80%;
                }
            }
        }
        .right-side{
            flex: 1;
            display: flex;
            flex-direction: column;
            // gap: 20vh;
            justify-content: center;
            align-items: center;
            padding-top: 7rem;
            .card{
                margin-bottom: 25rem;
                padding: 0 0 2rem 0;
                p{
                    width: 80%;
                    margin-inline: auto;
                }
                &:last-child{margin-bottom: 10rem;}
            }
        }
        @include mobile{
            flex-direction: column;
            .left-side{
                position: relative;
            }
            .right-side .card{
                max-width: 100%;
                margin-bottom: 2rem;
            }
        }
    }  
    
    //Sound like a local
    #sound-like-local{
        text-align: center;
        h3{
            margin-bottom: 2rem;
            font-size: 1.5rem;
            @include desktop{
                width: 37%;
                margin-inline: auto;
            }
        }
        h2{
            margin-bottom: 1rem;
            & > span{
                font-size: 3.5rem;
                font-weight: 600;
                display: inline-block;
                // animation: pulse 4s ease infinite alternate;
                // --webkit-text-fill-color: transparent;
                -webkit-text-fill-color: transparent;
                background-image: linear-gradient(#E03C32 0%, #007749 100%);
                background-clip: text;
            }
        }
        @include desktop(){
            h2{
                width: 70%;
                margin-inline: auto;
            }
        }
        .btn{
            margin-bottom: 2rem;
            margin-inline: auto;
        }
    }

    //Share your language
    #share-your-language{
        background-image: url(/assets/images/Kooluma\ -\ Hero\ Image\ -\ South\ African\ Flag.jpg);
        color: $clr-white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;
        margin-block: 2.5rem;
        h3{
            margin-bottom: 2rem;
            font-size: 1.5rem;
            text-align: center;
            position: relative;
            z-index: 3;
            @include desktop{
                width: 46%;
                margin-inline: auto;
            }
        }
        h2{
            margin-bottom: 1rem;
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, .5);
            z-index: 0;
        }
        h2, .btn{
            z-index: 1;
            position: relative;
        }
        .btn{
            margin-inline: auto;
        }
        padding: 8% 10%;
    }

    //Why choose Kooluma
    #why-kooluma{
        text-align: center;
        &.container{
            padding-top: 0;
        }
        .btn-row{
            margin-inline: auto;
        }
    }

    //Contact
    #contact{
        padding-bottom: 5rem;
        .card-row .card{
            padding: 0;
            &:hover{
                transform: $transform;
            }
            a{
                text-decoration: none;
                color: inherit;
                padding: 4rem;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                justify-content: center;
            }
        }
        .btn{
            margin-inline: auto;
            margin-top: 2rem;
        }
    }

    //Footer
    footer{
        padding: 0 4rem 2rem;
        margin-top: 4rem;
        background-color: $clr-font-light;
        color: $clr-font;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        @include burgerMenu{
            padding-inline: 2rem;
            position: relative;
            z-index: 0;
        }
        .footer-bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include mobile{
                flex-direction: column;
                gap: .5rem;
                align-items: flex-start;
            }
        }
        .footer-top{
            margin-bottom: 2rem;
            // padding-bottom: 2rem;
            border-bottom: 1.5px solid $clr-font;
            // gap: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .footer-logo{
                flex: 1;
                padding-block: 2rem;
                a{
                    background-image: none;
                    &:hover img{
                        transform: scale(1.1);
                    }
                }
                img{
                    // background-color: $clr-white;
                    border-radius: 50%;
                    height: 125px;
                    width: 125px;
                    object-fit: cover;
                    transition: $transition;
                }
            }
            .footer-contacts{
                display: flex;
                // flex-wrap: wrap;
                text-align: center;
                justify-content: center;
                align-items: center;
                flex: 1;
                padding-top: 0rem;
                @include desktop{
                    width: 53%;
                }
                @include tablet{
                    flex-wrap: wrap;
                }
                @include mobile{
                    flex-direction: column;
                    gap: 1rem;
                    align-items: center;
                }
                p{
                    flex: 50%;
                    margin-bottom: 1.5rem;
                    a{
                        width: fit-content;
                        font-size: 1rem;
                    }
                }
            }
        }
        a{
            color: inherit;
            text-decoration: none;
            @include link($clr-font);
        }
        .footer-bottom .socials{
            a{
                background-image: none;
                img{
                    height: 20px;
                    width: 20px;
                }
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }

    //Burger menu
    @include burgerMenu{
        header, main, footer{
            transition: $transition;
            &.menu-open{
                filter: blur(5px);
            }
        }
    }

}


/* Animation for sliding effect */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

// Image animation
@keyframes imageAnimation {
    0%{
        right: 15px;
        top: -15px;
    }
    100%{
        right: 0;
        top: 0;
    }
}
@keyframes imageAnimation2 {
    0%{
        right: 142px;
        top: -15px;
    }
    100%{
        right: 30px;
        top: -50px;
    }
}

//Header 1 animation
@keyframes pulse {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}