$clr-font: #050E4A;
$clr-white: #f5f5f5;
$red: #E03C32;
$green: #007749;
$blue: #001389;
$yellow: #FEB81C;

$box-shadow: 0 0 7px 3px rgba($blue, .25);
$transform: translate(3px, -3px);

$background-diamter: 1.5px;

$transition: .3s ease;