@font-face {
    font-family: 'Congenial'; /* Name of your font */
    src: url('/assets/fonts/fonnts.com-Congenial_Black.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_Black_Italic.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_Bold.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_Bold_Italic.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_ExtraLight.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_ExtraLight_Italic.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_Hairline.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_Hairline_Italic.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_Heavy.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_Heavy_Italic.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_Light.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_Light_Italic.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_Medium.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_Regular.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_Regular_Italic.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_Thin.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_UltraLight.otf') format('otf'),
         url('/assets/fonts/fonnts.com-Congenial_UltraLight_Italic.otf') format('otf');
}

$clr-font: #050E4A;
$clr-font-light: #a7adc7;
$clr-white: #f5f5f5;
$clr-font-red: #7A211B;
$clr-font-green: #012e17;
$red: #E03C32;
$green: #007749;
$blue: #001389;
$yellow: #FEB81C;
$gradient-faq: linear-gradient(90deg,#020c49 0%, #001389 50%, #020c49 100%);
$gradient-share: linear-gradient(90deg,#020c49 0%, #001389 15%, #3046d4 50%, #001389 85%, #020c49 100%);
$gradient-learn: linear-gradient(90deg, #012e17 0%, #008942 50%, #012e17 100%);
$gradient-text: linear-gradient(#E03C32 0%, #007749 50%, #001389 60%, #FEB81C 100%);

$fnt-marker: "Permanent Marker", cursive;
$fnt-congenial: 'Congenial', sans-serif;
$fnt-signika: "Signika Negative", sans-serif;

$box-shadow: 0 0 7px 3px rgba($blue, .25);
$transform: translate(3px, -3px);

$background-diamter: 1.5px;

$transition: .3s ease;